<div class="booyah-box col-lg-8 offset-2">
  <h2>Captura los detalles del cliente</h2>
  <br>
  <%= simple_form_for @client do |f| %>
    <%= f.input :first_name, label: 'Nombre*', :required => false %>
    <%= f.input :last_name, label: 'Apellido' %>
    <%= f.input :company, label: 'Compañía' %>
    <%= f.input :title, label: 'Título' %>
    <%= f.input :telephone, label: 'Teléfono' %>
    <%= f.input :email, label: 'Correo electrónico' %>
    <%= f.input :decision_maker, label: 'Toma Decisiones?' %>
    <%= f.submit "Listo", class: 'btn btn-primary' %>
  <% end %>

</div>
